<html>
<head>
  <title>KFM</title>
  	<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link rel="stylesheet" type="text/css" href="/reset.css">
</head>
<body>
  <h1>Kill F*** Marry</h1>
  <nav>
    <a href="/">PLAY</a> |
    <a href="/show">VIEW HISTORY</a>
  </nav>
  <%= yield %>
</body>
</html>
