
<div class="view_itup">

<ul>
  <% @selfies_show.each do |selfie| %>
    <li>
        <img src= "<%= selfie.url %>">
		<h2><%= selfie.user_name %></h2>
        <p>Rating: <%= selfie.description %></p>
</li>
  <% end %>
</ul>


</div>